@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/font/Poppins-Regular.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
  transition-duration: 4000ms;
}
  
#_next {
  height: 100%;
  width: 100%;
}

* {
  word-wrap: break-word;
  word-break: break-all;
}

.ant-btn-primary {
  background-color: #f85606;
}

header .ant-menu-root .ant-menu-item-selected {
  color: #fdd400 !important;
}

.ant-layout-content {
  background-color: white !important;
}

.ant-menu-item:hover {
  color: #efefefc4 !important;
}

.bg-gradient {
  background: linear-gradient(#00B09B, #96C93D, #FAFFD1, #78FFD6);
}