@font-face {
    font-family: "Poppins";
    src: url("../assets/font/Poppins-Regular.ttf");
}
.heading1 {
    font-size: 35px;
    line-height: normal;
    font-weight: 700;
}

.heading2 {
    font-size: 30px;
    line-height: 20px;
    font-weight: 600;
}

.heading3 {
    font-weight: 20px;
    font-weight: 500;
    line-height: normal;
}

.heading4 {
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
}

.heaeing5 {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.heading6 {
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
}

.heading7 {
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
}